<Project>
  <PropertyGroup>
    <PublishDir>$(SolutionDir)Published\</PublishDir>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <PrecompileBeforePublish>true</PrecompileBeforePublish>
    <EnableUpdateable>true</EnableUpdateable>
    <WebPublishMethod>FileSystem</WebPublishMethod>
  </PropertyGroup>
</Project>
